#contenido-para-pdf {
  width: 8.5in;
  margin:0px auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 4px;
  box-sizing: border-box !important;
}


.page {
  width: 4.2in;
  height: 5.5in;
  overflow: hidden;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.page .header {
  margin-top: 50px;
  text-align: center;
  display: flex;
  justify-content: space-between;
  height: 25px;
  padding: 0 5px;
  overflow: hidden;
  line-height: 25px;
}
.page .header h4 {
  margin: 0;
  padding: 0;
}

.footer_page {
  position: absolute;
  padding-right: 20px;
  bottom: 15px;
  right: 10px;
  margin: auto;
  text-align: left;
  display: flex;
  justify-content: end;
  width: 7in;
  align-items: start;
  text-transform: capitalize;
}

.word_search_container {
  margin: 0px auto;
  border: 1px #ccc solid;
}
.footer {
  margin: auto;
  text-align: left;
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: start;
}
.barcode {
  width: 100px;
  height: 100px;
}

.barcode img {
  width: 100%;
  height: 100%;
}
/* 
.container_words {
  display: flex;
  flex-wrap: wrap;
  padding-top: 40px;
  padding-bottom: 40px;
  height: 200px;
  justify-content: start;
  font-family: Arial, sans-serif;
} */
.word_search_container .row {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(20, 1fr);
}
.word_search_container .row > div {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-family: Arial, sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  text-align: center;
  width: 20px;
  height: 20px;
}

.word-item {
  width: 175px;
  flex-grow: 3;
  cursor: pointer;
  text-align: left;
  display: inline-block;
  font-size: 12px;
  text-transform: uppercase;
  padding: 0 10px;
  overflow: hidden;
  /* Opcional: bordes redondeados para los elementos de la lista */
}

.word-item:hover {
  background-color: lightgray;
}

/* Estilos para bordes redondeados específicos de la dirección */
.word-start.horizontal-right,
.word-end.horizontal-left {
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  box-sizing: border-box;
}

.word-end.horizontal-right,
.word-start.horizontal-left {
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.word-start.vertical-down,
.word-end.vertical-up {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.word-end.vertical-down,
.word-start.vertical-up {
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

/* Ajusta los siguientes estilos para manejar las palabras diagonales */
.word-start.diagonal-down-right,
.word-end.diagonal-up-left {
  border-top-left-radius: 15px;
}

.word-end.diagonal-down-right,
.word-start.diagonal-up-left {
  border-bottom-right-radius: 15px;
}

/* Repite para las otras direcciones diagonales */
.word-start.diagonal-down-left,
.word-end.diagonal-up-right {
  border-top-right-radius: 15px;
}

.word-end.diagonal-down-left,
.word-start.diagonal-up-right {
  border-bottom-left-radius: 15px;
}

.qrcode {
  display: none;
  width: 0;
  height: 0;
  overflow: hidden;
}
/* palabra verticales */
.word-diagonal.vertical-up,
.word-diagonal.vertical-down {
  border-left: solid 1px #000;
  border-right: solid 1px #000;
  box-sizing: border-box;
}
.word-diagonal.word-end.vertical-up,
.word-diagonal.word-start.vertical-down {
  border-top: solid 1px #000;
  box-sizing: border-box;
}
.word-diagonal.word-start.vertical-up,
.word-diagonal.word-end.vertical-down {
  border-bottom: solid 1px #000;
  box-sizing: border-box;
}
/* palabra diagonar */
.word-diagonal.horizontal-left,
.word-diagonal.horizontal-right {
  border-top: solid 1px #000;
  border-bottom: solid 1px #000;
  box-sizing: border-box;
  z-index: 10;
}
.word-diagonal.word-start.horizontal-right,
.word-diagonal.word-end.horizontal-left {
  border-left: solid 1px #000;
  box-sizing: border-box;
  z-index: 10;
}
.word-diagonal.word-start.horizontal-left,
.word-diagonal.word-end.horizontal-right {
  border-right: solid 1px #000;
  box-sizing: border-box;
  z-index: 10;
}
/* palabra diagonar */
.word-diagonal.diagonal-down-left,
.word-diagonal.diagonal-up-right {
  border-right: solid 1px #000;
  border-left: solid 1px #000;
  box-sizing: border-box;
  position: relative;
  /* clip-path: polygon(1% 1%, 0% 100%, 100% 0); */
  z-index: 1;
  transform: rotate(45deg);
  width: 15px !important;
}
.word-diagonal.diagonal-down-left .letter-container,
.word-diagonal.diagonal-up-right .letter-container {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  transform: rotate(-45deg);
  /* background-color: transparent;
    border: #000  solid 1px; */
}
.word-diagonal.diagonal-down-left::after {
  content: "";
  position: absolute;
  width: 15px;
  height: 20px;
  background-color: transparent;
  top: 10px;
  border-right: solid 1px #000;
  border-left: solid 1px #000;
  box-sizing: border-box;
  z-index: -1;
  /* 
    right: -5px;
    top: 0;
    clip-path: polygon(1% 1%, 0% 100%, 100% 0); */
}
.word-diagonal.word-start.diagonal-down-left {
  border: #000  solid 1px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom: transparent solid 1px;
}

.word-diagonal.word-end.diagonal-down-left {
  border: #000  solid 1px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  border-top: transparent solid 1px;
}
.word-diagonal.word-end.diagonal-down-left::after {
  display: none;
}

.word-diagonal.word-end.diagonal-up-right {
  border: #000  solid 1px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom: transparent solid 1px;
}
.word-diagonal.diagonal-up-right::after {
  content: "";
  position: absolute;
  width: 15px;
  height: 20px;
  background-color: transparent;
  top: 10px;
  border-right: solid 1px #000;
  border-left: solid 1px #000;
  box-sizing: border-box;
  z-index: 1;
}

.word-diagonal.word-start.diagonal-up-right{
    border: #000  solid 1px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-top: transparent solid 1px;
}
.word-diagonal.word-start.diagonal-up-right::after{
    display: none;
}

.word-diagonal.diagonal-up-left{
  border-right: solid 1px #000;
  border-left: solid 1px #000;
  box-sizing: border-box;
  position: relative;
  /* clip-path: polygon(1% 1%, 0% 100%, 100% 0); */
  z-index: 1;
  transform: rotate(-45deg);
  width: 15px !important;
}

.word-diagonal.diagonal-up-left .letter-container {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  transform: rotate(45deg);
  /* background-color: transparent;
    border: #000  solid 1px; */
}
.word-diagonal.diagonal-up-left::after {
  content: "";
  position: absolute;
  width: 15px;
  height: 20px;
  background-color: transparent;
  top: 10px;
  border-right: solid 1px #000;
  border-left: solid 1px #000;
  box-sizing: border-box;
  z-index: -1;
}
.word-diagonal.word-end.diagonal-up-left {
  border: #000  solid 1px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom: transparent solid 1px;

}

.word-diagonal.word-start.diagonal-up-left{
    border: #000  solid 1px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-top: transparent solid 1px;
}
.word-diagonal.word-start.diagonal-up-left::after{
    display: none;
}