#contenido-para-pdf {
    width: 8.5in;    /* Ancho: 8.5 pulgadas */
    margin:0 auto;    /* Centrar en la página */
    padding: 0px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}


.page{
    width: 7.5in;
    height: 11in;
    overflow: hidden;
    position: relative;
    overflow: hidden;
    page-break-after: always;
    background-color: white;
    padding: 0.25in 0;
    box-sizing: border-box;
}
.word_search_container {
    margin: auto;
    box-sizing: border-box;
    width: 7.5in;   
    height: 7.5in;
    border:1px #ccc solid;
    display: flex;
    flex-wrap: wrap;

}
.header {
    margin: auto;
    width: 7.5in;
    padding-top: 20px;
    text-align: center;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
}
.header h3{
   font-size: 20px;
   padding: 10px 0;
   margin: 0 auto;
}

.footer_page {
    position: absolute;
    padding-right: 20px;
    left: 0;
    right: 0;
    bottom: 0.5in;
    margin: auto;
    text-align: left;
    display: flex;
    justify-content: center;
    width: 8in;
    align-items: start;
    text-transform: capitalize;
    font-size: 10px;
}
.container_solution{
    margin: auto;
    box-sizing: border-box;
    width: 8.5in;   
    display: flex;
    justify-content: center;
}
#btn_soluctions{
    margin-top: 10px;
    padding: 20px 40px;
    font-size: 18px;
    text-transform: uppercase;
}

.footer {
    margin: auto;
    text-align: left;
    display: flex;
    justify-content: space-between;
    width: 8in;
    align-items: start;
}
.barcode {
    width: 100px;
    height: 100px
}

.barcode img {
    width: 100%;
    height: 100%;
}

.container_words {
    display: flex;
    flex-wrap: wrap;
    padding-top: 5px;
    padding-bottom: 40px;
    height: 180px;
    justify-content: start;
    font-family: Arial, sans-serif;
}
.word_search_container .row {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(20, 1fr);
}
.word_search_container   .row > div {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-family: Arial, sans-serif;
    font-size: 22px;
    text-transform: uppercase;
    text-align: center;
}

.word-item {
    width: 140px;
    cursor: pointer;
    text-align: left;
    vertical-align: middle;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    font-size: 15px;
    text-transform: uppercase;
    padding:0  5px;
    overflow: hidden;
    line-height: 15px;
 /* Opcional: bordes redondeados para los elementos de la lista */
}

.word-item:hover {
    background-color: lightgray;
}

/* Estilos para bordes redondeados específicos de la dirección */
.word-start.horizontal-right,
.word-end.horizontal-left {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    box-sizing: border-box;
}

.word-end.horizontal-right,
.word-start.horizontal-left {
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.word-start.vertical-down,
.word-end.vertical-up {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.word-end.vertical-down,
.word-start.vertical-up {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

/* Ajusta los siguientes estilos para manejar las palabras diagonales */
.word-start.diagonal-down-right,
.word-end.diagonal-up-left {
    border-top-left-radius: 15px;
}

.word-end.diagonal-down-right,
.word-start.diagonal-up-left {
    border-bottom-right-radius: 15px;
}

/* Repite para las otras direcciones diagonales */
.word-start.diagonal-down-left,
.word-end.diagonal-up-right {
    border-top-right-radius: 15px;
}

.word-end.diagonal-down-left,
.word-start.diagonal-up-right {
    border-bottom-left-radius: 15px;
}

.qrcode{
    display: none;
    width: 0;
    height: 0;
    overflow: hidden;
}
/* Puedes añadir más estilos para las palabras que van hacia arriba o hacia la izquierda si es necesario */
