*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
}

#contenido-para-pdf {
    width: 100%;
    max-width: 1024px;
    margin:0 auto;
    color: #000;
    padding: 20px;
    overflow: hidden;
   
}
.solution > div span {
    color: #ccc;
   }
.page{
    position: relative;
    width: 100%;
    position: relative;
    overflow: hidden;
    page-break-after: always;
    box-sizing: border-box;
    margin: auto;
    overflow: hidden;
  
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 50px;
    padding-bottom: 5px;
}
.word_search_container {
    margin: auto;
    box-sizing: border-box;
    border:1px #ccc solid;
    display: grid;
    grid-template-columns: repeat(18, 1fr); 
    gap: 0; 
    width: 100%; 
    overflow: hidden;
    text-transform: uppercase;
}
.word_search_container > div {
    aspect-ratio: 1 / 1;
    background-color: white; 
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 1px transparent;
    box-sizing: border-box;
}

.word_search_container > div > span { 
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
    font-size: 2vw; 
    align-items: center;
    text-align: center; 
    width: 100%;
    height: 100%;
  }

  @media (max-width: 600px) {
    .word_search_container > div > span {
      font-size: 12px; 
    }
  }
  
  @media (min-width: 1000px) {
    .word_search_container > div > span{
      font-size: 26px; 
      font-family: 'arial';
      font-weight: bold;
    }
  }
  .footer {
    
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    margin-top: 10px;
  }

  .container_qr_code {
    width: 1.9in;
    height: 1.9in;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border: #ccc 1px solid;
 
    
  }
  .container_words{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 1; 
    overflow: hidden;
    color: #000;
   
  }
  .footer_page {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  .word-item {
    display: flex;
    justify-content: center;
    align-items: center; /* Asegura que el contenido esté centrado verticalmente */
    font-size: 17px;
    color: blue;
    cursor: pointer;
    text-transform: uppercase;
    padding: 10px 20px; /* Ajusta el padding para un mejor aspecto */
    border: 1px solid blue; /* Hace el borde más visible y en concordancia con el color del texto */
    border-radius: 5px;
    text-align: center;
    background-color: #f0f0f0; /* Un color de fondo más suave */
    margin: 5px;
    transition: all 0.3s ease; /* Transición suave para los efectos */
  }
  
  .word-item:hover, .word-item:focus {
    background-color: blue; /* Cambia el fondo al color principal al pasar el mouse o enfocar */
    color: white; /* Cambia el color del texto a blanco para contraste */
    border-color: darkblue; /* Hace el borde más oscuro para un efecto más profundo */
    outline: none; /* Elimina el contorno que aparece al enfocar */
  }
/* .solution.word-item > span {
    color: #000 !important;
  } */

  @media (max-width: 600px) {
    .container_words {
      grid-template-columns: repeat(3, 1fr);}
     .word-item {
      font-size: 12px;
      padding: 5px; 
    }
  }
  .footer_page {
    position: absolute;
    bottom: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-top: 10px;
    font-size: 10px;
  }

  /*solution horizontal*/
 .solution.horizontal-left, .solution.horizontal-right{
    border-top: solid 1px #000;
    border-bottom: solid 1px #000;
    z-index: 13;
    color: #000;
    background-color: yellow;
  }
 .solution.horizontal-left span, .solution.horizontal-right span{
    z-index: 13;
    overflow: hidden;
    color: #000;
  }
 .solution.horizontal-left.word-start,.solution.horizontal-right.word-end{
    border-right: solid 1px #000;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    color: #000;
  }

 .solution.horizontal-left.word-end,.solution.horizontal-right.word-start{
    border-left: solid 1px #000;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
  }

  /*solution vertical*/
   .solution.vertical-up, .solution.vertical-down{
        border-left: solid 1px #000;
        border-right: solid 1px #000;
        z-index: 13;
        background-color: rgb(202, 255, 191);
    }
   .solution.vertical-up span, .solution.vertical-down span{
        z-index: 13;
        overflow: hidden;
        color: #000;
    }
   .solution.vertical-up.word-start,.solution.vertical-down.word-end{
        border-bottom: solid 1px #000;
        border-bottom-left-radius: 50%;
        border-bottom-right-radius: 50%;
    }

   .solution.vertical-up.word-end,.solution.vertical-down.word-start{
        border-top: solid 1px #000;
        border-top-left-radius: 50%;
        border-top-right-radius: 50%;
    }

    /*solution diagonal*/
   .solution.diagonal-up-right{
        position: relative;
        transform: rotate(-45deg);
        border: solid 1px transparent;
        z-index: 1;
        
    }

   .solution.diagonal-up-right span{
        position: absolute;
        transform: rotate(45deg);
        z-index: 10;
        overflow: hidden;
        color: #000;
        
    }
 

   .solution.diagonal-up-right::after {
        display: block;
        content: "";
        position: absolute;
        left: 0;
        width: 170%;
        height: 100%;
        top: -1px;
        border-top: solid 1px #000;
        border-bottom: solid 1px #000;
        background-color: rgb(189, 178, 255);
        z-index: -1;

    }
   .solution.word-start.diagonal-up-right {
        border-top-left-radius: 50%;
        border-bottom-left-radius: 50%;
    }
    .solution.word-start.diagonal-up-right::after {
      border-top-left-radius: 50%;
      border-bottom-left-radius: 50%;
      border-left: solid 1px #000;
    }

   .solution.word-end.diagonal-up-right {
        border: solid 1px #000;
        border-top-right-radius: 50%;
        border-bottom-right-radius: 50%;
        border-left: solid 1px transparent;
        background-color: rgb(189, 178, 255);
    }

   .solution.word-end.diagonal-up-right::after {
        display: none;
        content: "";
        position: absolute;
        left: 0;
        width: 0;
        z-index: -1;
        border: solid 1px transparent;
    }
    /*solution diagonal left*/
   .solution.diagonal-up-left{
        position: relative;
        transform: rotate(45deg);
        border: solid 1px transparent;
        z-index: 2 ;
    }

   .solution.diagonal-up-left span{
        position: absolute;
        transform: rotate(-45deg);
        z-index: 2;
        overflow: hidden;
        color: #000;
    }

   .solution.diagonal-up-left::after {
        display: block;
        content: "";
        position: absolute;
        left: -50%;
        width: 170%;
        height: 100%;
        top: -1px;
        z-index: 1;
        background-color: rgb(155, 246, 255);
        border: solid 1px #000;
        border-left: transparent;
       
    }



    .solution.word-start.diagonal-up-left {
      border-top-right-radius: 50%;
      border-bottom-right-radius: 50%;
      border-left: solid 1px transparent;
  }

   .solution.word-end.diagonal-up-left {
        border: solid 1px #000;
        border-top-left-radius: 50%;
        border-bottom-left-radius: 50%;
        border-right: solid 1px transparent;
        background-color: rgb(155, 246, 255);
    }

   .solution.word-end.diagonal-up-left::after {
        display: none;
        content: "";
        position: absolute;
        left: 0;
        width: 0;
        z-index: -1;
        border: solid 1px transparent;
    }


   .solution.word-start.diagonal-up-left::after {
        border-top-right-radius: 50%;
        border-bottom-right-radius: 50%;
    }

        /*solution diagonal down right*/
       .solution.diagonal-down-right{
            position: relative;
            transform: rotate(45deg);
            border: solid 1px transparent;
            z-index: 20;
            background-color: rgb(155, 246, 255);
        }


    /*solution diagonal down right*/
   .solution.diagonal-down-right span{
        position: absolute;
        transform: rotate(-45deg);
        z-index: 2;
        overflow: hidden;
        color: #000;
        
      
       
    }

   .solution.diagonal-down-right::after {
        display: block;
        content: "";
        position: absolute;
        left: -50%;
        width: 150%;
        height: 100%;
        top: -1px;
        z-index: 1;
        border-top: solid 1px #000;
        border-bottom: solid 1px #000;
        background-color: rgb(155, 246, 255);
        clip-path: inset(0); 
        /* clip-path: polygon(0 0, 48% 0, 100% 0, 78% 48%, 100% 100%, 42% 100%, 0 100%, 0% 30%); */
     
     
    }

.solution.word-end.diagonal-down-right {
 background-color: transparent;
   
 }

.solution.word-end.diagonal-down-right::after {
    border-bottom-right-radius: 50%;
    border-top-right-radius: 50%;
    border-right: solid 1px #000;
 }


.solution.word-start.diagonal-down-right {
 background-color: transparent;
 border-left: solid 1px #000;
}

   .solution.word-start.diagonal-down-right::after {
        border-bottom-left-radius: 50%;
        border-top-left-radius: 50%;
        border-left: solid 1px #000;
    }
    
   .solution.diagonal-down-left {
        position: relative;
        transform: rotate(-45deg);
        border: solid 1px transparent;
        z-index: 25;
        background-color: rgb(255, 173, 173);
    }

   .solution.diagonal-down-left span {
        position: absolute;
        transform: rotate(45deg);
        z-index: 2;
        overflow: hidden;
        color: #000;
        
    }

   .solution.diagonal-down-left::after {
        display: block;
        content: "";
        position: absolute;
        left: -51%;
        width: 170%;
        height: 100%;
        top: -1px;
        z-index: 1;
        border-top: solid 1px #000;
        border-bottom: solid 1px #000;
        background-color: rgb(255, 173, 173);
        clip-path: inset(0); 
    }

   .solution.word-end.diagonal-down-left {
        background-color: transparent;
    }

   .solution.word-end.diagonal-down-left::after {
        border-bottom-left-radius: 50%;
        border-top-left-radius: 50%;
        border-left: solid 1px #000;
    }

   .solution.word-start.diagonal-down-left {
        background-color: transparent;
        /* border-right: solid 1px #000; */
    }

   .solution.word-start.diagonal-down-left::after {
        border-bottom-right-radius: 50%;
        border-top-right-radius: 50%;
        border-right: solid 1px #000;
    }
    .contariner_footer {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;
        padding-top: 10px;
        font-size: 10px;
        padding-bottom: 50px;
    }
    #btn_soluctions {
        display: inline-block;
        margin: auto;
        width: 250px;
        background-color: rgb(48, 225, 95);
        font-family: 'arial';
        font-size: 30px;
        padding: 20px;
    
    }

    .active{
        background-color: #1daece;
        color: #fff;
    }
    #container_book_header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      max-width: 1024px;
      margin: 10px auto;
      text-align: center;
  }
  #container_book_header h1 {
      font-size: 35px;
      text-align: center;
      width: 100%;
    border-bottom: #ccc 2px solid;
    }
    #container_books {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        max-width: 1024px;
        margin: 0 auto;
        flex-wrap: wrap;
    }

    @media (max-width: 600px) {
      #container_books {
        justify-content: center;
        /* grid-template-columns: repeat(1, 1fr); O cualquier otra configuración que prefieras */
      }

      #container_book_header h1 {
        font-size: 15px;
      }
    }

    #container_books .book {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        border-bottom: 1px solid #ccc;
        width: 100%;
        width: 300px;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        margin: 10px;
     
    }
  
    #container_books .book img {
        max-width: 300px;
        object-fit: cover;
    }

    #container_books .book h3 {
      font-size: 17px;
      color: blue;
  }
  #container_books .book p{
      font-size: 15px;
      color: #444;
  }

    .bounce {
        cursor: pointer;
        font-size: 30px;
        width: 100%;
        text-align: center;
        
    }

    @keyframes bounce {
      0%, 20%, 50%, 80%, 100% {
          transform: translateY(0);
      }
      40% {
          transform: translateY(-30px);
      }
      60% {
          transform: translateY(-15px);
      }
  }

  .bounce {
      display: inline-block; /* Permite aplicar transformaciones a elementos inline como <p> */
      animation: bounce 1.5s;
      animation-iteration-count: 5; /* La animación se repite 5 veces */
  }

 