.header {
    margin: auto;
    width: 7in;
    padding: 20px 0;
    text-align: center;
}
.page{
    width: 8.5in;
    height: 11in;
    overflow: hidden;
    padding-top: 50px;
}
#contenido-para-pdf {
    width: 8.5in;    /* Ancho: 8.5 pulgadas */
    padding: 0.35in; /* Espaciado interno de 0.35 pulgadas */
    margin: auto;    /* Centrar en la página */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Opcional: sombra para visualización */
    background: white; /* Fondo blanco para el contenido */
    overflow: hidden; /* Ocultar contenido fuera de los límites */
}

.word_search_container {
    margin: auto;
    box-sizing: border-box;
    width: 7in;   
    height: 7in;
    border:1px #ccc solid;
    display: flex;
    flex-wrap: wrap;

}
.footer {
    margin: auto;
    text-align: left;
    display: flex;
    justify-content: space-between;
    width: 7in;
    align-items: start;
}
.barcode {
    width: 100px;
    height: 100px
}

.barcode img {
    width: 100%;
    height: 100%;
}

#wordList {
    text-align: left;
    display: flex;
    flex-wrap: wrap;
    max-width: 5.5in;/* Centra los elementos de la lista de palabras */
    padding-top: 40px;
    font-family: Arial, sans-serif;
}
.word_search_container .row {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(20, 1fr);
}
.word_search_container   .row > div {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-family: Arial, sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    text-align: center;
}

.word-item {
    cursor: pointer;
    min-width: 1.4in;
    text-align: left;
    display: inline-block;
    font-size: 15px;
    text-transform: uppercase;
 /* Opcional: bordes redondeados para los elementos de la lista */
}

.word-item:hover {
    background-color: lightgray;
}

/* Estilos para bordes redondeados específicos de la dirección */
.word-start.horizontal-right,
.word-end.horizontal-left {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    box-sizing: border-box;
}

.word-end.horizontal-right,
.word-start.horizontal-left {
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.word-start.vertical-down,
.word-end.vertical-up {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.word-end.vertical-down,
.word-start.vertical-up {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

/* Ajusta los siguientes estilos para manejar las palabras diagonales */
.word-start.diagonal-down-right,
.word-end.diagonal-up-left {
    border-top-left-radius: 15px;
}

.word-end.diagonal-down-right,
.word-start.diagonal-up-left {
    border-bottom-right-radius: 15px;
}

/* Repite para las otras direcciones diagonales */
.word-start.diagonal-down-left,
.word-end.diagonal-up-right {
    border-top-right-radius: 15px;
}

.word-end.diagonal-down-left,
.word-start.diagonal-up-right {
    border-bottom-left-radius: 15px;
}

.qrcode{
    display: none;
    width: 0;
    height: 0;
    overflow: hidden;
}
/* Puedes añadir más estilos para las palabras que van hacia arriba o hacia la izquierda si es necesario */
